<template>
<v-app>
  <v-navigation-drawer app>
  	<v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Products Management
          </v-list-item-title>
          <v-list-item-subtitle>
            Turnover Test
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    <v-divider></v-divider>
    <v-list dense nav>
    	<v-list-item-group
    		v-model="group"
    		active-class="grey darken-2"
    	>
        <router-link 
          v-for="item in items"
          :to="{ name: item.name }"
          style="text-decoration: none; color: inherit;"    
          :key="item.title"
          link
          >
		      <v-list-item>
		          <v-list-item-content>
		            <v-list-item-title>
                  {{ item.title }}
                </v-list-item-title>
		          </v-list-item-content>
           </v-list-item>
          </router-link>
    	</v-list-item-group>
    </v-list>
  </v-navigation-drawer>

  <v-app-bar app>
    <!-- -->
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <!-- If using vue-router -->
      <router-view @toggleLoading="loading = !loading"></router-view>
        <div class="text-center">
          <v-overlay :value="loading">
            <v-progress-circular
              indeterminate
              size="64"
            ></v-progress-circular>
          </v-overlay>
      </div>
    </v-container>
  </v-main>

  <v-footer app>
    <!-- -->
  </v-footer>
</v-app>
</template>

<script>
  import routes from './router/routes';

  export default {
  	data: () => ({
      loading: false,
  		items: routes,
      group: null
  	})
  }
</script>