<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"></div>

                    <div class="card-body">
                        <h1>TurnoverBNB Application - Challenge Project</h1>
                        <p>A simple product management system made for the <a href="https://github.com/TidyDaily/tbnb-test">TurnoverBNB's Application Challenge</a>.</p>
                        <h2>Technologies</h2>
                        <ul>
                            <li>PHP 7.2</li>
                            <li>Laravel 7.2</li>
                            <li>VueJS 2.5 with Vuetify Framework</li>
                        </ul>
                        <h2>Extra Packages and Plugins</h2>
                        <ul>
                            <li>MomentJS</li>
                            <li>Vue Router</li>
                            <li>Vuetify Mask</li>
                        </ul>
                        <h2>Application Features</h2>
                        <p>The application is built following the <b>Repository pattern</b>, which adds an additional logic service layer between the Controller and the Model, removing all logic and data manipulation from both layers.</p>
                        <p>All logic are encapsulated on the <b>Services</b> files <a href="https://bitbucket.org/lcastrocv/tbnb-test/src/master/app/Services/">([lcastrocv / tbnb-test / app / Services — Bitbucket])</a>, which are bound on application runtime to their respective Interfaces, implementing their required functions. A <b>BaseRepository</b> is present <a href="https://bitbucket.org/lcastrocv/tbnb-test/src/master/app/Repositories/">([lcastrocv / tbnb-test / app / Repositories — Bitbucket])</a>, which implements a base Interface and every Service extends, for commonly used functions (such as create, insert, delete, paginate, etc.)</p>

                        <p>Web routes for page viewing are configured to be handled exclusively by VueJS. Data retrieval and manipulation routes, such as Update, Store and List routes, are handled by Laravel's API routes <a href="https://bitbucket.org/lcastrocv/tbnb-test/src/master/routes/api.php">([lcastrocv / tbnb-test / routes / api.php — Bitbucket])</a>.</p>

                        <p>Feature testing for products are implemented, with test for different types of use cases, such as data retrieval, update, store, history creation, etc. <a href="https://bitbucket.org/lcastrocv/tbnb-test/src/master/tests/Feature/ProductTest.php">[lcastrocv / tbnb-test / tests / Feature / ProductTest.php — Bitbucket]</a>.</p>

                        <p>Product History insertion is handled by an **Observable**, which inserts a new record on the Product History table whenever a new **Product** is created, or updated if the quantity has changed.</p>

                        <h2>Installation</h2>
                        <ol>
                            <li>Clone the project</li>
                            <li>Go to the project's folder</li>
                            <li>Run composer install</li>
                            <li>Run npm install</li>
                            <li>Copy .env.example to a .env file in the root folder, and also .env.testing if running PHPUNIT tests via Aristan, and configure them to their respective databases</li>
                            <li>Run php artisan key:generate</li>
                            <li>Run php artisan migrate --seed</li>
                            <li>Add a MIX_BASE_URL entry to your .env file with the API's base url (E.g: localhost/tbnb-test/public/api/v1/), which will be passed to **VueJS** to handle API requests</li>
                            <li>Clear the config's cache if necessary with php artisan config:clear</li>
                        </ol>

                        <h2>Quick About Me</h2>

                        <p>Working 6 years in the Software Development industry, I have developed or helped develop several differents types of web-systems and APIs, that ranges from Car-Rental systems to Student Exchange systems, and much more. </p>

                        <p>Love solving problems and learning from them. I'm always looking forward to learning new technologies, languages and anything possible that might help me grow both personally, professionally, and that enables me to help whoever I'm working to, and with, to reach their goals.</p>

                        <h2>Skills at Glance</h2>
                        <h3>Advanced</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>ReactJS</li>
                            <li>jQuery</li>
                            <li>HTML/CSS/SASS and Frameworks (Bootstrap and Bulma)</li>
                            <li>PHP</li>
                            <li>Laravel Framework</li>
                            <li>Phalcon Framework</li>
                            <li>RESTful APIs</li>
                            <li>Version control (git, svn)</li>
                            <li>Docker environment</li>
                            <li>Database: MySQL</li>
                            <li>Test-Driven Development</li>
                            <li>Team and project management</li>
                        </ul>
                        <h3>Intermediate</h3>
                        <ul>
                            <li>Vue.js</li>
                            <li>Database: MongoDB, PostgreSQL, Redis</li>
                            <li>UNIX/LINUX Servers</li>
                        </ul>
                        <h3>Familiar</h3>
                        <ul>
                            <li>Heroku</li>
                            <li>React Native</li>
                            <li>DigitalOcean Web Services</li>
                            <li>Python</li>
                            <li>GitLab CI/CD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>