<template>
    <v-container fluid>
        <v-data-iterator :items="items" :items-per-page.sync="itemsPerPage" :page.sync="page" hide-default-footer>
            <template v-slot:header>
                <v-toolbar dark color="indigo darken-3" class="mb-4">
                    <template v-if="$vuetify.breakpoint.mdAndUp">
                        <v-spacer></v-spacer>
                        <v-select 
                            v-model="sortBy" 
                            flat solo-inverted hide-details 
                            :items="sortOptions"
                            item-text="name"
                            item-value="value"
                            prepend-inner-icon="mdi-sort" 
                            label="Sort by"
                        ></v-select>
                        <v-spacer></v-spacer>
                        <v-btn-toggle v-model="sortDirection" mandatory>
                            <v-btn large depressed color="indigo" value="asc">
                                <v-icon>mdi-arrow-up</v-icon>
                            </v-btn>
                            <v-btn large depressed color="indigo" value="desc">
                                <v-icon>mdi-arrow-down</v-icon>
                            </v-btn>
                        </v-btn-toggle>
                    </template>
                </v-toolbar>
                <v-container>
                    <v-subheader class="d-flex justify-end px-0">
                        <ButtonDialog initialButtonColor="indigo" buttonTitle="Create">
                            <template v-slot:default="{closeDialog}">
                                <ProductsForm 
                                    :closeDialog="closeDialog" 
                                    @reloadData="loadProducts();" 
                                    formTitle="Insert products"
                                />
                            </template>
                        </ButtonDialog>
                        <ButtonDialog initialButtonColor="indigo" buttonTitle="Bulk Update">
                            <template v-slot:default="{closeDialog}">
                                <ProductsForm 
                                    :closeDialog="closeDialog" 
                                    @reloadData="loadProducts();" 
                                    @clearCheckedProducts="clearCheckedProducts();" 
                                    :editMode=true 
                                    :productsToUpdate="productsToUpdate"
                                    formTitle="Update products"
                                />
                            </template>
                        </ButtonDialog>
                    </v-subheader>
                </v-container>
            </template>
            <template v-slot:default="props">
                <v-row>
                    <v-col v-for="item in props.items" v-model="props.items" :key="item.id" cols="12" sm="6" md="4" lg="3">
                        <v-card>
                            <v-toolbar color="indigo" dark>
                                <v-checkbox v-model="checkedProducts" :value="item.id" color="indigo lighten-4" class="mt-5"></v-checkbox>
                                <v-toolbar-title>{{ item.name }}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-btn icon>
                                    <v-icon @click="deleteProduct(item.id)">mdi-delete-outline</v-icon>
                                </v-btn>
                            </v-toolbar>
                            <v-divider></v-divider>
                            <v-list dense>                               
                                <v-list-item>
                                    <v-list-item-content :class="{ 'indigo--text': sortBy === 'current_quantity' }">
                                        Price:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'indigo--text': sortBy === 'price' }">
                                        ${{ item['price'] }}
                                    </v-list-item-content>
                                </v-list-item>                                 
                                <v-list-item>
                                    <v-list-item-content :class="{ 'indigo--text': sortBy === 'current_quantity' }">
                                        Quantity:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'indigo--text': sortBy === 'current_quantity' }">
                                        {{ item['current_quantity'] }}
                                    </v-list-item-content>
                                </v-list-item>                                
                                <v-list-item>
                                    <v-list-item-content :class="{ 'indigo--text': sortBy === 'created_at' }">
                                        Created at:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'indigo--text': sortBy === 'created_at' }">
                                        {{ moment(item['created_at']).format('YYYY-MM-DD') }}
                                    </v-list-item-content>
                                </v-list-item>                                
                                <v-list-item>
                                    <v-list-item-content :class="{ 'indigo--text': sortBy === 'updated_at' }">
                                        Last update:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'indigo--text': sortBy === 'updated_at' }">
                                        {{ moment(item['updated_at']).format('YYYY-MM-DD') }}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                            <v-card-actions>
                                <ButtonDialog initialButtonColor="orange" buttonTitle="History" text>
                                    <template v-slot:default="{closeDialog, visibility}">
                                        <ProductHistory
                                            :formTitle="`${item.name} stock history`"
                                            :closeDialog="closeDialog" 
                                            :visibility="visibility" 
                                            :productId="item.id" 
                                        />
                                    </template>
                                </ButtonDialog>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:footer>
                <v-row class="mt-2" align="center" justify="center">
                    <span class="grey--text">Items per page</span>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn dark text color="primary" class="ml-2" v-bind="attrs" v-on="on">
                                {{ itemsPerPage }}
                                <v-icon>mdi-chevron-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item v-for="(number, index) in itemsPerPageArray" :key="index" @click="updateItemsPerPage(number)">
                                <v-list-item-title>{{ number }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    <v-spacer></v-spacer>
                    <span class="mr-4
            grey--text">
                        Page {{ page }} of {{ numberOfPages }}
                    </span>
                    <v-btn fab dark color="indigo darken-3" class="mr-1" @click="formerPage">
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-btn fab dark color="indigo darken-3" class="ml-1" @click="nextPage">
                        <v-icon>mdi-chevron-right</v-icon>
                    </v-btn>
                </v-row>
            </template>
        </v-data-iterator>
    </v-container>
</template>
<script>
import ButtonDialog from '@components/ButtonDialog.vue';
import ProductsForm from '@components/ProductsForm.vue';
import ProductHistory from '@components/ProductHistory.vue';
import { api } from '@services/api';
import moment from 'moment';

export default {
    data() {
        return {
            itemsPerPageArray: [4, 8, 12, 16],
            checkedProducts: [],
            productsToUpdate: [],
            filter: {},
            loading: false,
            sortDirection: 'asc',
            page: 1,
            last_page: 1,
            itemsPerPage: 16,
            total: 1,
            sortBy: 'name',
            columnsByKeys: {
                 'name' :'Name',
                 'price' :'Price',
                 'current_quantity' :'Quantity',
                 'created_at': 'Created',
                 'updated_at': 'Last update'
            },
            items: [],
        }
    },
    components: {
        ButtonDialog,
        ProductsForm,
        ProductHistory
    },
    computed: {
        numberOfPages() {
            return Math.ceil(this.total / this.itemsPerPage)
        },
        sortOptions() {
            let sortMap = [];
            let columnsByKeys = this.columnsByKeys;
            Object.keys(this.columnsByKeys).map(function(key) {
                sortMap.push({'name': columnsByKeys[key], 'value': key})
            });
            return sortMap;
        }
    },
    watch: {
        checkedProducts: function(newVal, oldVal) {
            let productsToUpdate = this.items.filter(function(item) {
                return newVal.includes(item.id);
            });

            this.productsToUpdate = productsToUpdate;
        },
        sortBy: function() {
            this.loadProducts();
        },
        sortDirection: function() {
            this.loadProducts();
        }
    },
    methods: {
        moment(date) {
            return moment(date);
        },
        nextPage() {
            if (this.page + 1 <= this.numberOfPages) {
                this.page += 1
                this.loadProducts()
            }
        },
        formerPage() {
            if (this.page - 1 >= 1) {
                this.page -= 1;
                this.loadProducts();
            }
        },
        deleteProduct(id) {
            if (confirm('Do you wish to delete this product?')) {
                api.delete(`products/${id}`)
                    .then(response => {
                        this.clearCheckedProducts();
                        this.loadProducts();
                    }).catch(err => {
                       if (err.response) {
                            this.$toasted.error(err.response.data.message).goAway(4000);
                        } else if (error.request) {
                          this.$toasted.error(err.request).goAway(4000);
                        } else {
                            this.$toasted.error('Unknown server error').goAway(4000);
                        }
                    });
            }
        },
        updateItemsPerPage(number) {
            this.itemsPerPage = number;
            this.loadProducts();
        },
        updateItems(items) {
            this.items = items;
        },
        updateLastPage(number) {
            this.last_page = number;
        },
        updateTotal(number) {
            this.total = number;
        },
        clearCheckedProducts() {
            this.checkedProducts = [];
        },
        loadProducts() {
            this.$emit('toggleLoading');
            api.get('/products', {
                    params: {
                        page: this.page,
                        limit: this.itemsPerPage,
                        order: this.sortBy,
                        direction: this.sortDirection
                    }
                })
                .then(({ data }) => {
                    this.updateItems(data.data);
                    this.updateTotal(data.total);
                    this.updateLastPage(data.last_page);
                    this.clearCheckedProducts();
                    this.$emit('toggleLoading');
                })
                .catch(err => {
                    if (err.response) {
                        this.$toasted.error(err.response.data.message).goAway(4000);
                    } else if (error.request) {
                      this.$toasted.error(err.request).goAway(4000);
                    } else {
                        this.$toasted.error('Unknown server error').goAway(4000);
                    }
                    this.$emit('toggleLoading');    
                });
        },
    },
    mounted() {
        this.loadProducts();
    }
}

</script>
