<template>
    <v-dialog
      v-model="dialog"
      max-width="600px"
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn 
          :color="buttonColor"
          dark
          :large="!text"
          :text="text"
          v-bind="attrs"
          v-on="on"
          class="ml-3"
        >
          {{buttonTitle}}
        </v-btn>        
      </template>
      <slot :closeDialog="closeDialog" :visibility="dialog"></slot>
    </v-dialog>
</template>

<script>
  export default {
    props: ['initialButtonColor', 'buttonTitle', 'text'],
    data () {
      return {
        dialog: false,
        buttonColor: this.initialButtonColor,
        notifications: false,
        sound: true,
        widgets: false,
      }
    },
    methods: {
      closeDialog() {
        this.dialog = false;
      }
    }
  }
</script>