<template>
  <v-card>
      <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="submitProducts">
          <v-toolbar dark color="primary">
              <v-btn icon dark @click="closeModal">
                  <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>{{formTitle}}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                  <v-btn dark text type="submit">
                      Save
                  </v-btn>
              </v-toolbar-items>
          </v-toolbar>
          <v-container>
              <v-row v-if="!editMode">
                  <v-col>
                      <v-btn color="indigo" dark block @click="addProduct();">
                          Add Product
                      </v-btn>
                  </v-col>
              </v-row>
              <v-row v-for="(product, counter) in products" :key="counter">
                  <v-col>
                      <v-text-field v-model="products[counter].name" :counter="128" :rules="nameRules" label="Name" required></v-text-field>
                  </v-col>                  
                  <v-col>
                        <v-text-field-money
                          v-model="products[counter].price"
                          label="Price"
                          v-bind:properties="{
                            prefix: '$',
                            readonly: false,
                            disabled: false,
                            outlined: false,
                            clearable: true,
                            placeholder: ' ',
                          }"
                          v-bind:options="{
                            locale: 'en-US',
                            length: 11,
                            precision: 2,
                            empty: null,
                          }"
                        />
                  </v-col>
                  <v-col>
                      <v-text-field v-model="products[counter].current_quantity" :rules="quantityRules" label="Quantity" required></v-text-field>
                  </v-col>
              </v-row>
              <p class="text-center" v-if="products.length == 0">No products selected</p>
              <v-card-actions v-if="!editMode">
                  <v-btn color="success" text @click="validate">
                      Validate
                  </v-btn>
                  <v-btn color="orange" text @click="resetProducts">
                      Reset
                  </v-btn>
              </v-card-actions>
          </v-container>
      </v-form>
  </v-card>
</template>
<script>
import { api } from '@services/api';

export default {
  props: ['closeDialog', 'editMode', 'productsToUpdate', 'formTitle'],
  data: () => ({
      products: [{
          'name': '',
          'price': '',
          'current_quantity': ''
      }],
      nameRules: [
          v => !!v || 'Name is required',
          v => (v && v.length <= 128) || 'Name must be less than 128 characters'
      ],      
      priceRules: [
          v => !!v || 'Price is required',
          v => !isNaN(v) || 'Price must be a number'
      ],
      quantityRules: [
          v => !!v || 'Quantity is required',
          v => !isNaN(v) || 'Quantity must be a number'
      ],
      valid: false
  }),
  mounted: function() {
    if (this.editMode) {
      this.products = JSON.parse(JSON.stringify(this.productsToUpdate));
    }
  },
  watch: {
    productsToUpdate: function(newVal, oldVal) {
      this.products = JSON.parse(JSON.stringify(this.productsToUpdate));
    }
  },
  methods: {
      addProduct() {
          this.products.push({
              'name': '',
              'price': '',
              'current_quantity': ''
          });
      },
      closeModal() {
        this.$emit('clearCheckedProducts');
        this.closeDialog();
      },
      validate() {
          return this.$refs.form.validate()
      },
      reset() {
          this.$refs.form.reset()
      },
      resetProducts() {
          this.products = [{
              'name': '',
              'price': '',
              'current_quantity': ''
          }];
          this.reset();
      },
      resetValidation() {
          this.$refs.form.resetValidation()
      },
      submitStoreProducts() {
          api.post('products', {
            'products': this.products
          }).then((response) => {
            this.closeDialog();
            this.$emit('reloadData');
          }).catch(err => {
            if (err.response) {
                this.$toasted.error(err.response.data.message).goAway(4000);
            } else if (error.request) {
              this.$toasted.error(err.request).goAway(4000);
            } else {
                this.$toasted.error('Unknown server error').goAway(4000);
            }
          });
      },
      submitUpdateProducts() {
        api.put('products/batch-update', {
          'products': this.products
        }).then(response => {
          this.closeDialog();
          this.$emit('clearCheckedProducts');
          this.$emit('reloadData');
        }).catch(err => {
            if (err.response) {
                this.$toasted.error(err.response.data.message).goAway(4000);
            } else if (error.request) {
              this.$toasted.error(err.request).goAway(4000);
            } else {
                this.$toasted.error('Unknown server error').goAway(4000);
            }
        });
      },
      submitProducts(event) {
        if (this.validate()) {
          if (this.editMode) {
            this.submitUpdateProducts();
          } else {
            this.submitStoreProducts();
          }
        }
      }
  }
}

</script>
