<template>
  <v-card>
    <v-toolbar dark color="primary">
        <v-btn icon dark @click="closeDialog">
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{formTitle}}</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
    <v-container>
            <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="range"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="dateRangeText"
            label="Select range to filter"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="range"
          no-title
          range
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="menu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menu.save(range)"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
      <template>
        <v-data-table
          dense
          :headers="headers"
          :items="productHistory"
          item-key="name"
          class="elevation-1"
        >
          <template v-slot:item.created_at="{item}">
            {{moment(item).format('YYYY-MM-DD')}}
          </template>
        </v-data-table>
      </template>
    </v-container>
  </v-card>
</template>
<script>
import { api } from '@services/api';
import moment from 'moment';

export default {
  props: ['closeDialog', 'formTitle', 'visibility', 'productId'],
  data: () => ({
    productHistory: [],
    range: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
    menu: false,
    page: 1,
    last_page: 1,
    itemsPerPage: 16,
    total: 1,
    headers: [
      { text: 'Old quantity', value: 'old_quantity' },
      { text: 'New quantity', value: 'new_quantity' },
      { text: 'Date', value: 'created_at' },
    ],
  }),

  mounted: function() {
    this.loadProductHistory();
  },
  watch: {
    visibility(visible) {
      if (visible) {
        this.loadProductHistory();
      }
    },
    range(range) {
      if (range.length  == 2) {
        this.loadProductHistory();
      }
    }
  },
  computed: {
    dateRangeText () {
      return this.range.join(' to ')
    },
  },
  methods: {
    loadProductHistory() {
      api.get(`products/${this.productId}/history`, {
        params: {
          start_date: this.range[0],
          end_date: this.range[1]
      }
      })
      .then(response => {
        this.productHistory = response.data;
      }).catch(err => {
        if (err.response) {
            this.$toasted.error(err.response.data.message).goAway(4000);
        } else if (error.request) {
          this.$toasted.error(err.request).goAway(4000);
        } else {
            this.$toasted.error('Unknown server error').goAway(4000);
        }
      });
    },
    moment(date) {
      return moment(date);
    }
  }
}

</script>
